<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="CoolBee logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">歡迎訂閱電子報</p>
			<p>搶先獲得本公司產品的新知好康，直接寄到您的電子郵件信箱.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">庫必</h3>
				<ul class="mb3">
					<li><a href="/" class="link">主頁</a></li>
					<li><a href="/products" class="link">我們的產品</a></li>
					<li><a href="/values" class="link">關於我們</a></li>
					<li><a href="/post" class="link">新聞</a></li>
					<li><a href="/contact" class="link">聯絡我們</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">更多資訊</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">社群官網</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
